<section class="about-scrag">
  <div class="container">
    <div class="about-content row">
      <div class="scrag-info col-md-10 col-lg-7 offset-lg-1" data-bottom-top="transform:translate3d(0px, 0%, 0px)" data-top-bottom="transform:translate3d(0px, 10%, 0px)">
        <h5>About Scrag End</h5>
        <h2>A journal about food, and also a cut of lamb</h2>
        <p>
          People are wanting to fly to international destinations for vacations but planning a holiday getaway can easily turn into a stressful venture when the matter of costs comes up. However, airfare can be very expensive. Air fare by itself can kill the excitement.
        </p>
        <a href="#" class="text-link">Contribute to Scrag End</a>
      </div>
      <div class="scrag-image">
        <img src="assets/images/content/team-photo.jpg" alt="" />
      </div>
    </div>

    <div class="stockist-content row">
      <ul class="stockist-list stockist--aus col-md-6 col-lg-5">
        <li class="title">Australian Stockists</li>
        <li>Books for Cooks, Fitzroy, VIC</li>
        <li>Readings, Carlton, VIC</li>
        <li>Happy Valley, Collingwood, VIC</li>
        <li class="link"><a href="#" class="text-link">Become an australian stockist</a></li>
      </ul>

      <ul class="stockist-list stockist--int col-md-6 col-lg-5">
        <li class="title">International Stockists</li>
        <li>Books for Cooks, Fitzroy, VIC</li>
        <li>Readings, Carlton, VIC</li>
        <li>Happy Valley, Collingwood, VIC</li>
        <li class="link"><a href="#" class="text-link">Become an international stockist</a></li>
      </ul>
    </div>

  </div>
</section>
