<figure class="article-component">
  <div class="image-container">
    <img src="" alt="" />
  </div>
  <div class="article-info">
    <div class="header">
      <h3>Meet your maker</h3>
      <span class="meta">Issue One — Greg Clarke — 8 minute read</span>
    </div>
    <div class="excerpt">
      <p class="small">People are wanting to fly to international destinations for vacations but planning a holiday getaway can easily turn into a stressful venture when the matter of costs comes up. However, airfare can be very expensive. </p>
      <a href="secondary-link">Continue reading</a>
    </div>
  </div>
</figure>
