<footer id="footer">
  <div class="container">
    <div class="footer-inner col-md-4 offset-md-4">
      <div class="logo"><img src="/assets/images/scrag-logo.svg" alt="Scrag End Logo"></div>
      <a href="http://shop.scragend.com/" target="_blank" class="sub-nav">Purchase Journal</a>
      <ul class="social-links">
        <li><a href="https://www.facebook.com/scragend/" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/scragendjournal/" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/scrag_end" target="_blank">Twitter</a></li>
      </ul>
      <a href="mailto:info@scragend.com" class="email-link">info@scragend.com</a>
      <div class="copyright">
        <span>© Scrag End 2016 </span>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/scripts/jquery.viewportchecker.min.js" type="text/javascript"></script>
<script src="/scripts/skrollr.min.js" type="text/javascript"></script>
<script src="/scripts/smooth-scroll.min.js" type="text/javascript"></script>
<script src="/scripts/main.js" type="text/javascript"></script>


<script>
	// Google Analytics Script
</script>
