<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}Scrag End - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width">

  <!-- Load Fonts -->
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/616794/7818972/css/fonts.css" />
  <!-- Load Main CSS -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <link rel="icon" type="image/png" href="/favicon-32x32.png?v=qAqOw5LJGp" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png?v=qAqOw5LJGp" sizes="16x16">

</head>
