<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %} {{ page.title }}{% else %} {{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %} {{ page.description }}{% else %} {{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width">

  <!-- Load Fonts -->
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/616794/7818972/css/fonts.css" />
  <!-- Load Main CSS -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f5c828">
  <meta name="apple-mobile-web-app-title" content="Scrag End">
  <meta name="application-name" content="Scrag End">
  <meta name="theme-color" content="#ffffff">

</head>
