<section class="home-hero">
  <div class="article-content-panel ">
    <div class="article-container animation-set">
      <ul class="article-title-container animation-set">
        <li><a href="#" class="article-title animated animated--no-slide-up" data-delay="100" data-title="meatsmith"><h2>A meatsmith’s revolucion</h2></a></li>
        <li><a href="#" class="article-title animated animated--no-slide-up" data-delay="125" data-title="yarra"><h2>Yarra Valley martini</h2></a></li>
        <li><a href="#" class="article-title animated animated--no-slide-up" data-delay="150" data-title="farmers"><h2>Farmers eat shit</h2></a></li>
        <li><a href="#" class="article-title animated animated--no-slide-up" data-delay="175" data-title="growth"><h2>Growth</h2></a></li>
      </ul>
      <a data-scroll href="#recent-stories" class="view-more text-link animated animated--no-slide-up" data-delay="200">View more stories</a>
    </div>
  </div>
  <div class="article-image-panel">
    <div class="article-images-container">
      <div class="single-article-image meatsmith" style="background-image: url('/assets/images/content/hero-portrait.jpg')"></div>
      <div class="single-article-image yarra" style="background-image: url('/assets/images/content/hero-portrait2.jpg')"></div>
      <div class="single-article-image"></div>
      <div class="single-article-image"></div>
    </div>
    <div class="article-container mobile animation-set">
      <ul class="article-title-container mobile animated animated--no-slide-up" data-delay="100">
        <li><a href="#" class="article-title" data-title="meatsmith"><h2>A meatsmith’s revolucion</h2></a></li>
        <li><a href="#" class="article-title" data-title="yarra"><h2>Yarra Valley martini</h2></a></li>
        <li><a href="#" class="article-title" data-title="farmers"><h2>Farmers eat shit</h2></a></li>
        <li><a href="#" class="article-title" data-title="growth"><h2>Growth</h2></a></li>
      </ul>
      <a data-scroll href="#recent-stories" class="view-more text-link animated animated--no-slide-up" data-delay="150">View more stories</a>
    </div>
  </div>
</section>
