<section class="container portrait-image-block vertical-spaced">
  <div class="portrait-image-block-inner row">

    {% for image in module.images %}
      <div class="portrait-image col-md-5 animation-set animated animated--no-slide-up">
        <img src="/assets/images/content/{{ image.src }}" alt="{{ image.alt }}" />
        <p class="caption"> {{ image.caption }}</p>
      </div>
    {% endfor %}

  </div>
</section>
