<section class="container quote-block vertical-spaced">
  <div class="row">
    <div class="quote-block-inner col-md-10 offset-md-1">
      <h2>‘{{ module.quote}}’</h2>
    </div>
  </div>
</section>
