<section id="recent-stories" class="recent-stories page-section">
  <div class="container">
    <div class="recent-stories-container row">
      <div class="recent-stories-intro col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h2>Stories</h2>
        <p>
          People are wanting to fly to international destinations for vacations but planning a holiday getaway can easily turn into a stressful venture when the matter of costs comes up. However, airfare can be very expensive. Air fare by itself can kill the excitement.
        </p>
        <a href="#" class="view-more text-link">View more stories</a>
      </div>
    </div>
    <div class="stories-grid has-2-columns row">
      <figure class="article-component col-md-6">
        <div class="image-container">
          <a href="#">
            <img src="/assets/images/content/article-landscape.jpg" alt="" />
          </a>
        </div>
        <div class="article-info">
          <div class="header">
            <a href="#"><h3>Meet your maker</h3></a>
            <span class="meta">Issue One — Greg Clarke — 8 minute read</span>
          </div>
          <div class="excerpt">
            <p class="small">People are wanting to fly to international destinations for vacations but planning a holiday getaway can easily turn into a stressful venture when the matter of costs comes up. However, airfare can be very expensive. Here is some moer words I hope i can fix this oh dear hdkemd knoe mdke </p>
            <a href="#" class="secondary-link">Continue reading</a>
          </div>
        </div>
      </figure>

      <figure class="article-component col-md-6">
        <div class="image-container">
          <a href="#">
            <img src="/assets/images/content/article-portrait.jpg" alt="" />
          </a>
        </div>
        <div class="article-info">
          <div class="header">
            <h3>Meet your maker</h3>
            <span class="meta">Issue One — Greg Clarke — 8 minute read</span>
          </div>
          <div class="excerpt">
            <p class="small">People are wanting to fly to international destinations for vacations but planning a holiday getaway can easily turn into a stressful venture when the matter of costs comes up. However, airfare can be very expensive. </p>
            <a href="#" class="secondary-link">Continue reading</a>
          </div>
        </div>
      </figure>

      <figure class="article-component col-md-6">
        <div class="image-container">
          <a href="#">
            <img src="/assets/images/content/article-portrait2.jpg" alt="" />
          </a>
        </div>
        <div class="article-info">
          <div class="header">
            <h3>Meet your maker</h3>
            <span class="meta">Issue One — Greg Clarke — 8 minute read</span>
          </div>
          <div class="excerpt">
            <p class="small">People are wanting to fly to international destinations for vacations but planning a holiday getaway can easily turn into a stressful venture when the matter of costs comes up. However, airfare can be very expensive. </p>
            <a href="#" class="secondary-link">Continue reading</a>
          </div>
        </div>
      </figure>

    </div>
  </div>
</section>
