// @font-face {
// font-family: "ChronicleSemiBold";
// src: url("/assets/fonts/ChronicleDisp-Semibold.otf") format("opentype");
// }
//
// @font-face {
// font-family: "Chronicle Display A";
// src: url("/assets/fonts/ChronicleDisp-Light.otf") format("opentype");
// font-weight: 300;
// }
//
// @font-face {
// font-family: "ChronicleItalic";
// src: url("/assets/fonts/ChronicleDisp-Italic.otf") format("opentype");
// }
//
// @font-face {
// font-family: "IdealBook";
// src: url("/assets/fonts/IdealSans-Book.otf") format("opentype");
// }
//
// @font-face {
// font-family: "IdealSemiBold";
// src: url("/assets/fonts/IdealSans-Semibold.otf") format("opentype");
// }


body {
	font-family: "Ideal Sans A", "Ideal Sans B", sans-serif;;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

h1.display {
	font-family: "Chronicle Display A", "Chronicle Display B", serif;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 2.5rem;
	line-height: 3rem;

	@include media("<321px") {
		font-size: 2.25rem;
		line-height: 2.75rem;
	}

	@include media(">small") {
		font-size: 3rem;
		line-height: 3.25rem;
	}

	@include media(">medium") {
		font-size: 4rem;
		line-height: 4.5rem;
	}

	@include media(">huge") {
		font-size: 4.75rem;
		line-height: 5rem;
	}
}

h1, .h1{
	font-family: "Chronicle Display A", "Chronicle Display B", serif;
	font-weight: 300;
	font-size: 2rem;
	line-height: 2.5rem;

	@include media(">small") {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	@include media(">medium") {
		font-size: 2.5rem;
		line-height: 3rem;
	}

	@include media(">large") {
		font-size: 3rem;
		line-height: 4rem;
	}

	@include media(">huge") {
		font-size: 4.5rem;
		line-height: 5rem;
	}
}

h2, .h2{
	font-family: "Chronicle Display A", "Chronicle Display B", serif;
	font-weight: 300;
	font-size: 3rem;
	line-height: 4rem;
	margin-bottom: 3rem;


	@include media(">medium") {
		font-size: 3.5rem;
		line-height: 4.5rem;
	}

}

h3, .h3{
	font-family: "Chronicle Display A", "Chronicle Display B", serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;

	@include media(">small") {
		font-size: 1.25rem;
		line-height: 2rem;
	}

	@include media(">medium") {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	@include media(">large") {
		font-size: 2rem;
		line-height: 2.5rem;
	}
}

h4, .h4{
	font-family: "Chronicle Display A", "Chronicle Display B", serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5rem;

	@include media(">medium") {
		font-size: 1.5rem;
		line-height: 2rem;
	}

}

h5, .h5{
	font-family: "Chronicle Display A", "Chronicle Display B", serif;
	font-style: italic;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 2rem;
}

p {
	margin-bottom: 2rem;
	font-size: 1.125rem;
	line-height: 2rem;

	&.small{
		font-size: 1rem;
		line-height: 2rem;
	}

}

a.text-link, a.secondary-link {
	font-family: "Ideal Sans A", "Ideal Sans B", sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: .875rem;
	position: relative;
	text-transform: uppercase;
}


a.text-link {
	padding-left: 2rem;

		&:before{
			content: "";
			position: absolute;
			left: 0;
			top: 6px;
			width: 24px;
			height: 1px;
			background-color: $black;
			transform-origin: left;
			transition: transform .25s cubic-bezier(.75,0,.2,1);
		}

	&:hover {
		color: darken($black, 100%);

		&:before {
			transform: translateX(8px) scaleX(.4);
			transition: transform .25s cubic-bezier(.75,0,.2,1);
		}
	}

}

a.secondary-link {

	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: -4px;
		width: 100%;
		height: 1px;
		opacity: 0;
		background-color: $black;
		transform-origin: bottom;
		transition: all .25s cubic-bezier(.75,0,.2,1);
		transform: translateY(0px) scaleX(.4);
		pointer-events: none;
	}

	&:hover {
		color: darken($black, 100%);

		&:before {
			opacity: 1;
			transform: scaleX(1);
			transition: all .25s cubic-bezier(.75,0,.2,1);
		}
	}
}
