// Colors

$brand-primary:             #0181C6;

$skin:                      #FFFBF9;
$skin-dark:                 #7F7E7D;

$black:                     #101115;

$gray:                      #7F858E;
$gray-light:                #F8F8F8;
$gray-lighter:              #F5F5F5;
$gray-lightest:             #fafafa;

$issue-one:                 #C1E3CF;
